@import url('reset.css');


body {
    background-color: black;
}

.banner {
    
}

.banner-content {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(49, 168, 221, .0), rgba(0, 0, 0, .5)), url('../images/banner.png');
    background-size: 100%;
    height: 60vh;
    border-width: 10px;
    border-style: solid;
    border-color: blue;
}


.logo {
    object-position: center;
    width: 20%;
    border-width: 10px;
    border-style: solid;
    border-color: blue;

}

.logo img {
    object-fit: contain;
}

#course-content {
    height: 50vh;
    border-width: 10px;
    border-style: solid;
    border-color: green;
}


#transform-world {
    height: 50vh;
    border-width: 10px;
    border-style: solid;
    border-color: yellow;

}

#professional-challenges {
    height: 90vh;
    border-width: 10px;
    border-style: solid;
    border-color: pink;

}

footer {
    height: 20vh;
    border-width: 10px;
    border-style: solid;
    border-color: grey;
}